.gallery{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.gallery>li{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.img{
    width: 450px;
    margin-top: auto;
    height: 290px;
}