.gallery{
    display: flex;
    justify-content: space-evenly;
}

.gallery>li{
    display: flex;
    flex-direction: column;
    gap:15px;
    height: 290px;
    overflow: hidden;
}

.img{
    width: 450px;
}